.App {
  text-align: center;
}
.App input {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000000;
}
.App input:focus {
  outline: none;
}
.App .robots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
